<div class="remove-container container-block">
<h2 class="container-block-title">Technical Electives</h2>
<ul class="list-unstyled interests-list">

<li>Cloud Computing</li>
<li>Machine learning</li>
<li>Algorithms & Optimization for Big Data*</li>
<li>Operating Systems</li>
<li>Data Structures & Algorithms</li>
<li>Database Management Systems</li>
<li>Object Oriented Programming</li>
<li>Advanced Statistics</li>
<li>Advanced Statistics</li>
<li>Linear Algebra</li>
<li>User Centered Design</li>
</ul>
* Received an A+ grade in the course
</div><!--//About-->

<i class="fa fa-github"></i>
<i class="fa fa-var-github"></i>
