<div class="remove-container container-block">
<h2 class="container-block-title">Technical Electives</h2>
<ul class="list-unstyled interests-list">

    <li> Speech Processing </li>
    <li>  Machine Learning </li>
    <li>  Computer Vision </li>
    <li>  Big Data Tools and Methods </li>
    <li>  Cloud Computing </li>
    <li>  iOS App Development (SwiftUI) </li>
    <li>  Advanced Statistics </li>
    <li>  Linear Algebra </li>
    <li>  Discrete Mathematics </li>
    <li>  User Centered Design </li>
    <li>  Operating Systems </li>
    <li>  Object Oriented Programming </li>
    <li>  Data Structures & Algorithms </li>
    <li>  Database Management Systems </li>

</ul>

</div><!--//About-->
