<section class="section summary-section">
  <h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>

  <div class="summary">
      <p>Summarise your career here lorem ipsum dolor sit amet, consectetuer adipiscing elit. You can download this free resume/CV template here. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.</p>
  </div><!--//summary-->

</section><!--//section-->
