<div class="education-container container-block">
    <h2 class="container-block-title">Education</h2>

    <div class="item">
        <h4 class="degree">M.S. - CS</h4>
        <h4 class="degree">Computer Science</h4>
        <h5 class="meta">San Diego State University </h5>
        <br>
        <h5 class="meta">CGPA : 3.814</h5>
        <div class="time">2018 - 2020</div>
    </div>

    <div class="item">
        <h4 class="degree">B.Tech - ICT</h4>
        <h4 class="degree">Information & Communication Technology</h4>
        <h5 class="meta">School of Engineering & Applied Science, Ahmedabad University</h5>
        <br>
        <h5 class="meta">CGPA : 3.23</h5>
        <div class="time">2013 - 2017</div>
    </div><!--//item-->


    <!-- <div class="item">
    <h4 class="degree">School</h4>
    <h5 class="degree">HSC, SSC</h5>
    <h5 class="meta">Sheth C. N. Vidhyalaya, Ahmedabad</h5>
    <br>
    <h5 class="meta">HSC : 77.84% - 2013 SSC : 89.80% - 2011</h5>
    <div class="time">2011 - 2013</div>
</div> -->
</div><!--//education-container-->
