<div class="education-container container-block">
    <h2 class="container-block-title">Education</h2>

    <div class="item">
        <h4 class="degree">M.S. - CS</h4>
        <h4 class="degree">Computer Science</h4>
        <h5 class="meta">San Diego State University </h5>
        <br>
        <h5 class="meta">CGPA : 3.814</h5>
        <div class="time">2018 - 2020</div>
    </div>

    <div class="item">
        <h4 class="degree">B.Tech - ICT</h4>
        <h4 class="degree">Information & Communication Technology</h4>
        <h5 class="meta">School of Engineering & Applied Science, Ahmedabad University</h5>
        <br>
        <h5 class="meta">CGPA : 3.23</h5>
        <div class="time">2013 - 2017</div>
    </div><!--//item-->

</div><!--//education-container-->
