<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Assistant Researcher</h3>
                <div class="time">Jul 2020 - Present</div>
            </div>
            <div class="company"> <strong><a href="http://acoustics.ucsd.edu"> MBARCO at SDSU/UCSD </a></strong>
            </div>
            <div class="details">

                I am currently a <strong> volunteer </strong> worker in the Marine Bioacoustics Research Collective (MBARCO) at San Diego State University (SDSU) / Scripps Institution of Oceanography, University of California San Diego (UCSD) under the guidance of Prof. Marie Roch.
                
                <br>
                <br>Find out more about <strong><a href="http://acoustics.ucsd.edu/">Marine Bioacoustics Research Collective (MBARCO).</a></strong>
                <br>
                
            </div>
        </div>
   </div>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Masters Thesis</h3>
                <div class="time">Feb 2019 - Jun 2020</div>
            </div>
            <div class="company"> <strong><a href="https://roch.sdsu.edu/index.php/research-overview/"> SDSU Marine Acoustics Research (MAR) Lab </a></strong>
                <br> Title: "Learning to Detect Odontocete Whistles from Generative Samples"
                <br> Advisor: Dr. Marie Roch
                <br> (Deep Learning, Bio-Acoustics, CycleGAN, WGAN, CNN, UNet, ResNets, PatchGAN, Spectrograms; Python, PyTorch, CUDA, MATLAB) </div>
            </div>
            <div class="details">

                <li> Researching on deep learning methods for classification of toothed whales calls (Bottlenose, Long-beaked Common Dolphins) </li>
                <li> Surveyed state-of-the-art methodologies for automatic whistle extraction </li>
                <li> Updating the existing framework for automatic whistles extraction and annotations of cetacean on MATLAB </li>
                <li> Developed code to process underwater audio recordings and create frequency domain spectrograms using Python </li>
                <li> Incorporating CNNs for detection and classification of whale whistle contours using TensorFlow and Keras </li>
                <li> Exploring generative adversarial networks (CycleGAN, Generative Adversarial Networks) to generate synthetic whale tonals and to improve detections of dolphin whistles </li>

                <br><strong><a href="https://drive.google.com/file/d/1PUv8KE7abJAcmtPUX72kV0RYBeq2b5c-/view?usp=sharing">Thesis Presentation</a></strong>

            </div>
        </div>

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Instructional Student Assistant</h3>
                    <div class="time">Sep 2019 - May 2020</div>
                </div>
                <div class="company">Department of Computer Science, San Diego State University
                </div>
            </div>
            <div class="details">
                <li> CS570 Operating Systems by Dr. Marie Roch, Ben Shen </li>
                <li> CS559 Computer Vision by Dr. Mahmoud Tarokh </li>

                <p>Under supervision, Instructional Student Assistants perform teaching, grading or tutoring duties for the majority of work hours in a given appointment in a given academic department or equivalent administrative unit over the course of an academic term.

                </div>
            </div>

            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">Teaching Associate</h3>
                        <div class="time">Jan 2018 - May 2020</div>
                    </div>
                    <div class="company">School of Engineering and Applied Science, Ahmedabad University
                    </div>
                </div>
                <div class="details">

                    <li> CSC300 - Software Engineering – Theory </li>
                    <li> CSC250, CSC251 - Database Management Systems – Theory & Lab </li>
                    <li> CSC105 - Introduction to Computation & Programming – Theory </li>

                    <p>Served as Teaching Associate during the Winter-2018 semester on a contractual basis.

                    </div>
                </div>


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research & Engineering Intern</h3>
                            <div class="time">Nov 2016 - Apr 2017</div>
                        </div>
                        <div class="company">HireValley Inc.
                        <br>(Recommendation System, Machine Learning, Micro-services, Ontology, Multivariate Regression; Python, Flask, OWL, AWS, Web Services)
                        </div>
                    </div>
                    <div class="details">
                        <li> Automated Human Capital Management System, a cloud-based job recommendation system </li>
                        <li> Performed data gathering, cleaning and analysis duties; Designed Ontology for domain knowledge representation </li>
                        <li> Use of Natural Language Processing (NLP) to understand of Job or Project Description </li>
                        <li> Hiring Trend Predictor to suggest candidates based on a company's changing recruitment requirements </li>
                        <li> Developed a web interface using flask on Apache Server following Micro-Service Architecture </li>
                        <li> Published the architecture and framework for an automated human capital management system in IEEE </li>

                        <br><strong><a href="https://drive.google.com/open?id=0B9gQb-9dKj0ubWVWWjFLQWJqRnM">Project Report</a></strong> and the <strong><a href="https://ieeexplore.ieee.org/document/8369531">IEEE Conference Paper</a></strong>

                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Undergraduate Teaching Assistant</h3>
                            <div class="time">Aug 2016 – May 2017</div>
                        </div>
                        <div class="company">School of Engineering & Applied Science, Ahmedabad University
                        </div>
                    </div>
                    <div class="details">

                        <li>Operating Systems (Lab)</li>
                        <li>Object Oriented Programming (Theory)</li>
                    </div>
                </div>

            </section>
