<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Project Assistant</h3>
                            <div class="time">Jan 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">School of Engineering & Applied Science, Ahmedabad University
                          <br>Advisor: Dr. Sanjay Chaudhary & Dr. Ratnik Gandhi
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                        <li>An Automated Human Capital Management Platform for Job Hunting & Hiring process</li>
                        <li>Performed data gathering, cleaning and analysis duties</li>
                        <li>Implemented Machine Learning Algorithms for better Recommendation </li>
                        <li>Created Ontology for domain knowledge representation</li>
                        <li>Developed various modules to enhance the performance & the quality</li>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Undergraduate Teaching Assistant</h3>
                            <div class="time">Jan 2017 – Present</div>
                        </div><!--//upper-row-->
                        <div class="company">School of Engineering & Applied Science, Ahmedabad University</div>
                        <div class="company">Advisor: Sujoy Pal</div>
                    </div><!--//meta-->
                    <div class="details">
                      <li>Course: Object Oriented Programming (Theory)</li>
                      <li>Course Code: CSC102</li>
                      <li>Batch: 2016</li>
                      <br>
                      <p>Tutored Batch of 2016 having 60 students during Winter semester</p>
                      <p>The selection for Teaching Assistant is based on CGPA and subject grade.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Undergraduate Teaching Assistant</h3>
                            <div class="time">Aug 2016 - Dec 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">School of Engineering & Applied Science, Ahmedabad University</div>
                        <div class="company">Advisor: Dr. Sanjay Chaudhary</div>
                    </div><!--//meta-->
                    <div class="details">
                      <li>Course: Operating Systems (Lab)</li>
                      <li>Course Code: CSC341M</li>
                      <li>Batch: 2014</li>
                      <br>
                      <p>Tutored Batch of 2014 having 120 students during Winter semester</p>
                      <p>The selection for Teaching Assistant is based on CGPA and subject grade.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
