<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">QpiC : Querying Platform with VM Integration on Cloud</h3>
                            <div class="time">September 2016 - December 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">School of Engineering & Applied Science, Ahmedabad University</div>
                        <div class="company">Advisor: Dr. Sanjay Chaudhary</div>
                    </div><!--//meta-->
                    <div class="details">
                      <ul>
                        <li>A cloud-based platform which is SaaS and IaaS</li>
                        <li>Users can complex SPARQL queries on OWLs ontologies using WebPy</li>
                        <li>Support for Multi-Tenancy and Caching of frequent query results</li>
                        <li>Perform Instant Query or upload your own ontology and Queries</li>
                        <li>Automated VM Load prediction using Linear Regressive model and balancing using
                        Xen-API</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">April 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">School of Engineering & Applied Science, Ahmedabad University</div>
                        <div class="company">Advisor: Dr. Ratnik Gandhi</div>
                    </div><!--//meta-->
                    <div class="details">
                      <li>Literature survey and analysis of various face detection and recognition algorithms</li>
                      <li>Implemented of Face Detection, Tracking or Recognition for input streaming video using haar-cascade using OpenCV and Python (45+ fps)</li>
                      <li>Implemented PCA-LDA, ILDA for Face-Recognition on GPU using PyCUDA and Sci-Kit CUDA</li>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
