<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">QpiC : Querying Platform with VM Integration on Cloud</h3>
                            <div class="time">September 2016 - December 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">School of Engineering & Applied Science, Ahmedabad University
                          <br>Advisor: Dr. Sanjay Chaudhary
                        </div>
                    </div><!--//meta-->
                    <div class="details">

                        <li>A cloud-based platform which is SaaS and IaaS</li>
                        <li>Users can complex SPARQL queries on OWLs ontologies using WebPy</li>
                        <li>Support for Multi-Tenancy and Caching of frequent query results</li>
                        <li>Perform Instant Query or upload your own ontology and Queries</li>
                        <li>Automated VM Load prediction using Linear Regressive model and balancing using
                        Xen-API</li>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Face Recognition & Tracking on Real-Time Video</h3>
                            <div class="time">February 2016 - April 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">School of Engineering & Applied Science, Ahmedabad University
                          <br>Advisor: Dr. Ratnik Gandhi & Dr. Mehul Raval
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                      <li>Literature survey and analysis of various face detection and recognition algorithms</li>
                      <li>Implemented of Face Detection, Tracking or Recognition for input streaming video using haar-cascade using OpenCV and Python (45+ fps)</li>
                      <li>Implemented PCA-LDA, ILDA for Face-Recognition on GPU using PyCUDA and Sci-Kit CUDA</li>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Operating System for IoT in Home</h3>
                            <div class="time">April 2015 - November 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">School of Engineering & Applied Science, Ahmedabad University
                          <br>Advisor: Dr. Sanjay Chaudhary
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                      <li>Created a back-end Operating System to provide a platform for IoT Devices</li>
                      <li>Signal Handling for Alarms and Timers to provide communication among devices on socket level using POSIX Threads (Pthreads) API in C</li>
                      <li>Using P2P and Cloud architecture, total 9 computers mimicked actual devices to demonstrate Internet of Things</li>
                      <li>This project was inspired by Google's "Project Brillo" with OS "Weave"</li>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Identification of RFID Tags</h3>
                            <div class="time">August 2014 - October 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">School of Engineering & Applied Science, Ahmedabad University
                          <br>Advisor: Dr. Sanjay Chaudhary
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                      <li>Developed a data structure called HexHeap, in-spite using typical BST used by NFC/RFID industry</li>
                      <li>In this Hexadecimal Heap, every parent contains 16 children from (0-9 A-F), indicating Semester, Subject, Book and Copies as its 4 levels</li>
                      <li>Developed a CLI to integrate this DS to provide a service to manage 65536 books and/or copies in a Library System</li>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Login Authentication System</h3>
                            <div class="time">January 2014 - April 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">School of Engineering & Applied Science, Ahmedabad University
                          <br>Advisor: Dr. Pankesh Patel
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                      <li>Developed a Login Authentication System for a University that lets students enroll and sign up/in</li>
                      <li>GUI created using Java, using concepts of "Captcha" & “Leet" for Auth Layer</li>
                      <li>Data is stored hidden with further layer of AES Encryption</li>
                      <li>Data can later on be used when a User (Student) logs in again and provide security</li>
                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Explore Unseen - Bluetooth Enabled Assistive Stick for Blind</h3>
                            <div class="time">February 2015 - April 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">School of Engineering & Applied Science, Ahmedabad University
                          <br>Advisor: Rashmi Korjan, Mayukhini Pande
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                      <li>Developed a prototype of an assistive stick for blind people after an intensive user research</li>
                      <li>This device is embedded with a 360° camera and proximity sensors</li>
                      <li>The 360 camera uses image processing to aware the person holding stick about the surroundings</li>
                      <li>It speaks to user via his/her phone using Bluetooth and help navigate user to its destination</li>
                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Propeller LED Display</h3>
                        </div><!--//upper-row-->
                        <div class="company">School of Engineering & Applied Science, Ahmedabad University
                          <br>Advisor: Dr. Nishit Pandya
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                      <li>Developed Propeller LED Display using Atmel Atmega32 Micro-controller, 1300 RPM motor and equipped with Bluetooth</li>
                      <li>Exemplar of Perception of Vision (POV) that displays text as well the system time</li>
                      <li>An android app was developed with which user can dictate/type text or request system time to display on the propeller LED display through Bluetooth</li>
                      <li>Using just 8 LEDs, we virtually created 345 LEDs</li>
                    </div><!--//details-->
                </div><!--//item-->


            </section><!--//section-->
