<section class="skills-section section">

    <h2 class="section-title"><i class="fa fa-rocket"></i>Programming Languages - Proficiency</h2>
    <div class="skillset">
        <div class="item">
            <h3 class="level-title">Python,</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="100%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">C,</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="85%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">Java,</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">Swift,</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">Shell Script (Bash),</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="100%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">POSIX,</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">MySQL,</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="85%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">Embedded C,</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">HTML,</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">CSS,</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">JavaScript,</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">Ajax,</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">jQuery,</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">R</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="60%">
                </div>
            </div>
        </div>

    </div>

    <br>
    <h2 class="section-title"><i class="fa fa-fire"></i>APIs &amp; Frameworks - Proficiency</h2>
    <div class="skillset">

        <div class="item">
            <h3 class="level-title">TensorFlow</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">Keras</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">PyTorch</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">Scikit-Learn</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">MATLAB</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">Amazon Web Services (AWS) - Elastic Map Reduce (EMR), EC2, S3</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">Apache Spark</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">Pandas</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="100%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">Jupyter notebook</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="100%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">REST</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="100%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">Flask</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="100%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">Git</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">Microsoft CNTK</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">CUDA</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">OpenCV</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="100%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">Xcode</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="100%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">Heroku</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
        </div><div class="item">
            <h3 class="level-title">Materialize</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
        </div>

        <div class="item">
            <h3 class="level-title">Electron API</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="75%">
                </div>
            </div>
        </div>

    </div>

</section><!--//skills-section-->
