<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>


    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">SwiftCar — Cars on Demand
                </h3>
                <div class="time">Oct 2019 - Dec 2019</div>
            </div>
            <div class="company">San Diego State University
                <br>(iOS App Dev, SwiftUI, Xcode, User Interface (UI/UX), MapKit; Mobile Apps, Fleet Managements, Ride-sharing, Map Views, Zipcar Clone)
            </div>
        </div>
        <div class="details">

            <li> Created an iOS app inspired by Zipcar in the powerful SwiftUI and MapKit using Observer Design Pattern </li>
            <li> Fleet Owners can manage multiple vehicles and add new vehicles to different geographical locations </li>
            <li> Ride sharers can find and reserve different types of cars in parking lots nearby on the map; and also view their past trips and billing info </li>

            <br><strong><a href="https://github.com/hellosaumil/SwiftCar"> On Github</a></strong>

        </div>
    </div>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">InstaPost — Share, Search and Tag Photos
                </h3>
                <div class="time">Aug 2019 - Sep 2019</div>
            </div>
            <div class="company">San Diego State University
                <br>(iOS App Dev, SwiftUI, Xcode, User Interface (UI/UX), Networking; Mobile Apps, Social Networking App, Web Services, Instagram Clone)
            </div>
        </div>
        <div class="details">

            <li> Designed an iOS app using SwiftUI that allows users to register, create new and view other users posts </li>
            <li> Post contains an optional photo, text as well as hashtags; Users can view ratings and comments on the post </li>
            <li> Users can search photos based on hashtags and usernames loading posts asynchronously from the web server </li>
            <li> Developed offline capabilities for viewing cached posts by users </li>

            <br><strong><a href="https://github.com/hellosaumil/InstaPost"> On Github</a></strong>

        </div>
    </div>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Using PySpark for Image Classification on Satellite Imagery of Agricultural Terrains
                </h3>
                <div class="time">Mar 2019 - May 2019</div>
            </div>
            <div class="company">San Diego State University
                <br>(Big Data, ML Pipeline, Image Classification, Satellite Images, PCA, Random Forests; Python, PySpark, AWS, EMR, S3 Buckets)
            </div>
        </div>
        <div class="details">

            <li> Created an end-to-end pipeline from data ETL to Model Training to Classification on DeepSat Kaggle Dataset </li>
            <li> Used PySpark for distributed computing while hosting clusters on AWS Elastic MapReduce (EMR) instances and S3 buckets for storing data and logging outputs </li>
            <li> Performed Principal Component Analysis (PCA) on Features from RGB and Infrared IR Channels </li>
            <li> Trained Random Forests to classify 6 types of agricultural terrains and performed model evaluation </li>

            <br><strong><a href="https://github.com/hellosaumil/deepsat-aws-emr-pyspark"> On Github</a></strong>

        </div>
    </div>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Phoneme Recognition and Digits Identification - Deep Speech Recognition
                </h3>
                <div class="time">Sep 2018 - Dec 2018</div>
            </div>
            <div class="company">San Diego State University
                <br>(Deep Learning, Speech Processing, Spectrograms, LSTM, RNN, PCA, GMM; Python, TensorFlow, Keras, AWS)
            </div>
        </div>
        <div class="details">

            <li> Developed speech recognition system using TensorFlow and Keras on TIMIT and TIDIGITS datasets </li>
            <li> Devised code for dynamic mini-batch generation of spectrograms </li>
            <li> Performed Fourier Analysis, applied Principal Component Analysis (PCA) on spectrograms for feature extraction </li>
            <li> Trained Gaussian Mixture Models (GMM) on PCAs to classify speech from noise using Bayesian Inference </li>
            <li> Programmed a system using LSTM (Long Short Term Memory) RNNs for Phoneme Recognition </li>
            <li> Used N-Fold Cross Validation and Dropout Regularization for a better feed forward network architecture </li>
            <li> Developed framework to dynamically test and compare different deep neural networks on AWS </li>

            <br><strong><a href="https://drive.google.com/drive/folders/1C59f-HTYvSWZ5iUEIMvxXTJogwpAaULU?usp=sharing">Project Reports</a></strong>

        </div>
    </div>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">QpiC : Querying Platform with VM Integration on Cloud</h3>
                <div class="time">Aug 2016 - Nov 2016</div>
            </div>
            <div class="company">School of Engineering & Applied Science, Ahmedabad University
                <br>(Cloud Computing, Micro-services, VM, Online Querying, Multi-tenancy; Python, Heroku, OWL, Sparql, WebPy, Flask, Xen Server)
            </div>
        </div>
        <div class="details">

            <li>A cloud-based platform which is SaaS and IaaS</li>
            <li>Users can complex SPARQL queries on OWLs ontologies using WebPy</li>
            <li>Support for Multi-Tenancy and Caching of frequent query results</li>
            <li>Perform Instant Query or upload your own ontology and Queries</li>
            <li>Automated VM Load prediction using Linear Regressive model and balancing using
                Xen-API</li>

                <br><strong><a href="https://github.com/hellosaumil/qpic"> On Github</a>, <a href="https://qpic-platform.herokuapp.com/">Heroku</a></strong>, and <strong><a href="https://drive.google.com/drive/folders/0B9gQb-9dKj0uUF9iVEM4UXBRaEk?usp=sharing">Poster</a></strong>

            </div>
        </div>

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Face Recognition & Tracking on Real-Time Video</h3>
                    <div class="time">Feb 2016 - Apr 2016</div>
                </div>
                <div class="company">School of Engineering & Applied Science, Ahmedabad University
                    <br>(Machine Learning, PCA, LDA, K-Means Clustering, Haar Features; Python, OpenCV, PyCUDA)
                </div>
            </div>
            <div class="details">

                <li> Literature survey and analysis of various face detection and recognition algorithms </li>
                <li> Implemented of Face Detection, Tracking or Recognition for input streaming video using haar-cascade using OpenCV and Python (45+ fps) </li>
                <li> Real-time Face Recognition and Tracking on HD Videos </li>
                <li> Implemented PCA-LDA, ILDA for Face-Recognition on GPU using PyCUDA and Sci-Kit CUDA </li>
                <li> Published researched findings for fast implementation of online face recognition systems on IEEE </li>

                <br>The <strong><a href="https://ieeexplore.ieee.org/document/8369529/">IEEE Conference Paper</a></strong>, <strong><a href="https://drive.google.com/open?id=0B9gQb-9dKj0ubWVWWjFLQWJqRnM">Project Report and Presentation</a></strong>

            </div>
        </div>

        <!-- <div class="item">
        <div class="meta">
        <div class="upper-row">
        <h3 class="job-title">Operating System for IoT in Home</h3>
        <div class="time">Apr 2015 - Nov 2015</div>
    </div>
    <div class="company">School of Engineering & Applied Science, Ahmedabad University
    <br>Advisor: Dr. Sanjay Chaudhary
</div>
</div>
<div class="details">
<li>Created a back-end Operating System to provide a platform for IoT Devices</li>
<li>Signal Handling for Alarms and Timers to provide communication among devices on
socket level using POSIX Threads (Pthreads) API in C</li>
<li>Using P2P and Cloud architecture, total 9 computers mimicked actual devices to demonstrate Internet of Things</li>
<li>This project was inspired by Google's "Project Brillo" with OS "Weave" (now Android Things)</li>
</div>
</div>

<div class="item">
<div class="meta">
<div class="upper-row">
<h3 class="job-title">Identification of RFID Tags</h3>
<div class="time">Aug 2014 - Oct 2014</div>
</div>
<div class="company">School of Engineering & Applied Science, Ahmedabad University
<br>Advisor: Dr. Sanjay Chaudhary
</div>
</div>
<div class="details">
<li>Developed a data structure called HexHeap, in-spite using typical BST used by NFC/RFID industry</li>
<li>In this Hexadecimal Heap, every parent contains 16 children from (0-9 A-F), indicating Semester, Subject, Book and Copies as its 4 levels</li>
<li>Developed a CLI to integrate this DS to provide a service to manage 65536 books and/or copies in a Library System</li>
</div>
</div>

<div class="item">
<div class="meta">
<div class="upper-row">
<h3 class="job-title">Login Authentication System</h3>
<div class="time">Jan 2014 - Apr 2014</div>
</div>
<div class="company">School of Engineering & Applied Science, Ahmedabad University
<br>Advisor: Dr. Pankesh Patel
</div>
</div>
<div class="details">
<li>Developed a Login Authentication System for a University that lets students enroll and sign up/in</li>
<li>GUI created using Java, using concepts of "Captcha" & “Leet" for Auth Layer</li>
<li>Data is stored hidden with further layer of AES Encryption</li>
<li>Data can later on be used when a User (Student) logs in again and provide security</li>
</div>
</div>


<div class="item">
<div class="meta">
<div class="upper-row">
<h3 class="job-title">Explore Unseen - Bluetooth Enabled Assistive Stick for Blind</h3>
<div class="time">Feb 2015 - Apr 2015</div>
</div>
<div class="company">School of Engineering & Applied Science, Ahmedabad University
<br>Advisor: Rashmi Korjan, Mayukhini Pande
</div>
</div>
<div class="details">
<li>Developed a prototype of an assistive stick for blind people after an intensive user research</li>
<li>This device is embedded with a 360° camera and proximity sensors</li>
<li>The 360 camera uses image processing to aware the person holding stick about the surroundings</li>
<li>It speaks to user via his/her phone using Bluetooth and help navigate user to its destination</li>
</div>
</div>


<div class="item">
<div class="meta">
<div class="upper-row">
<h3 class="job-title">Propeller LED Display</h3>
<div class="time">Jan 2014 - Apr 2014</div>
</div>
<div class="company">School of Engineering & Applied Science, Ahmedabad University
<br>Advisor: Dr. Nishit Pandya
</div>
</div>
<div class="details">
<li>Developed Propeller LED Display using Atmel Atmega32 Micro-controller, 1300 RPM motor and equipped with Bluetooth</li>
<li>Exemplar of Perception of Vision (POV) that displays text as well the system time</li>
<li>An android app was developed with which user can dictate/type text or request system time to display on the propeller LED display through Bluetooth</li>
<li>Using just 8 LEDs, we virtually created 345 LEDs</li>
</div>
</div> -->


</section><!--//section-->
